.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	padding: 0;
	margin: 0 auto;
}

@media (max-width: 600px) {
	.App {
		padding: 0px 10px;
	}
}
